stages:
  - build

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

docker-build:
  image: docker:24.0.5-cli
  stage: build
  services:
    - name: docker:24.0.5-dind
      command: ["--storage-driver=overlay2"]
  before_script:
    - docker info
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker buildx create --use --name builderx || echo "builderx context exists"
  script:
    - |
      if [ "$CI_COMMIT_BRANCH" = "$CI_DEFAULT_BRANCH" ]; then
        export TAG="latest"
      else
        export TAG="$CI_COMMIT_REF_NAME"
      fi
      docker buildx build --pull -t "$CI_REGISTRY_IMAGE:$TAG" --push .
  rules:
    - if: $CI_COMMIT_BRANCH || $CI_COMMIT_TAG
      exists:
        - Dockerfile
  tags:
    - docker
